#createNoteButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #0886ff;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}

#noteWindow {
    padding: 1rem;
    width: 30rem;
    height: 40rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
    background: #efefef;
    box-shadow: 0px 0px 20px #c3e2ff;
}

#noteWindowHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#noteWindowMain {
    position: relative;
    height: 100%;
}

#noteWindowFooter {
    display: flex;
    justify-content: end;
    align-items: center;
}

#newNoteWindow {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: min(20rem, 60%);
    height: 30rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 2rem;
    background: #ababab;
    box-shadow: 0px 0px 1rem #ababab;
    z-index: 2;
}

#newNoteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newNoteMain {
    position: relative;
    height: 100%;
}

#newNoteInput {
    width: calc(100% - 1rem);
}

#newNoteFooter {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}