#signinPageBg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(var(--primaryColor), var(--secondaryColor));
}

#signinContainer {
    width: 24rem;
    height: 36rem;
    background: var(--containerColor);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}