#signinPageBg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(var(--primaryColor), var(--secondaryColor));
}

#signinContainer {
    margin: 6rem 3rem;
    width: 24rem;
    height: calc(100% - 12rem);
    background: var(--accentColor);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}