#notesSidebar {
    position: sticky;
    left: 0;
    top: 0;
    padding: 1rem;
    width: 14rem;
    flex-shrink: 0;
    min-height: calc(100dvh - 8rem);
    max-height: calc(100dvh - 2rem);
    flex-direction: column;
    justify-content: space-between;
    background: var(--primaryColor);
    border-top-right-radius: 1rem;
}
#notesSidebar.opened {display: flex;}
#notesSidebar.closed {display: none;}

#notesUpperSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.notesSection {
    padding: .5rem 1rem;
    width: calc(100% - 2rem);
    background: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.notesSection.active {
    background: color-mix(in srgb, var(--containerHighColor) 80%, transparent);
}
.notesSection:hover:not(.active) {
    background: color-mix(in srgb, var(--containerHighColor) 20%, transparent);
}

.notesSection > h5 {
    transition: all 0.4s ease;
}
.notesSection:hover:not(.active) > h5 {
    translate: 4px 0;
}

#settingsSection {
    padding: .5rem 1rem;
    width: calc(100% - 2rem);
    display: flex;
    gap: .5rem;
    align-items: center;
    background: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
#settingsSection:hover {
    background: color-mix(in srgb, var(--containerHighColor) 20%, transparent);
}

#settingsSection > img {
    transition: all 0.5s ease;
}
#settingsSection:hover > img {
    rotate: 45deg;
}

#settingsSection h5 {
    transition: all 0.4s ease;
}
#settingsSection:hover h5 {
    translate: 4px 0;
}



@media (max-width: 600px) {
    #notesSidebar {
        position: fixed;
        height: 100dvh;
        z-index: 1;
        animation: animNotesSidebarAppear 0.25s ease forwards;
    }
    @keyframes animNotesSidebarAppear {
        0% {
            translate: -14rem 0;
        }
        100% {
            translate: 0 0;
        }
    }
}