#noteTagsWindow {
    margin: .5rem 0;
    padding: 1.5rem;
    border-radius: 2rem;
    width: 10rem;
    max-height: calc(80% - 3rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--extraSecondaryColor);
    z-index: 2;
    animation: noteTagsWindowAppear 0.25s ease forwards;
}
@keyframes noteTagsWindowAppear {
    0% {
        translate: 12.5rem 0;
        scale: 0.95;
    }
    100% {
        translate: 0 0;
        scale: 1;
    }
}

#noteTagsContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

#tagEditAddNew {
    width: fit-content;
    background: black;
    gap: .5rem;
    cursor: pointer;
}

.tagEditElement {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.tagEditElementRemoveButton {
    padding: .5rem;
    height: 1rem;
    width: 1rem;
    background: black;
    border-radius: 1rem;
    cursor: pointer;
}