.notesBox {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.notesContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(auto-fit, 16rem);
}

.noteElement {
    padding: 1rem;
    min-width: 6rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    background: #1b1b1b;
    border: solid 2px #ffffff00;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.noteElement:hover {
    translate: 0px -4px;
    border: solid 2px #ffffffff;
}

.noteElementIndicator {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
}
.trash {background: #dd3333;}
.not_completed {background: #ede32d;}
.completed {background: #33dd33;}

.noteElement h1 {
    min-height: fit-content;
}