#noteWindowTagsAdd {
    margin: .5rem;
    padding: 1.5rem;
    border-radius: 2rem;
    width: 10rem;
    max-height: calc(20% - 4rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--extraSecondaryColor);
    z-index: 2;
    animation: noteWindowTagsAddAppear 0.25s ease forwards;
}
@keyframes noteWindowTagsAddAppear {
    0% {
        translate: 12.5rem 0;
        scale: 0.95;
    }
    100% {
        translate: 0 0;
        scale: 1;
    }
}

#addTagContainer {
    position: relative;
    display: flex;
    gap: .5rem;
}

#addTagInput {
    padding: 0 1rem;
    width: calc(100% - 4.5rem);
    height: 2rem;
    font-size: 1em;
    border: none;
    border-radius: 1rem;
    background: black;
}

.addTagButton {
    padding: .5rem;
    height: 1rem;
    width: 1rem;
    background: black;
    border-radius: 1rem;
}
.addTagButton:disabled {
    background: #00000040;
}



@media (max-width: 600px) {
    #noteWindowTagsAdd {
        flex-grow: 1;
        animation: noteWindowTagsAddAppearMobile 0.25s ease forwards;
    }
    @keyframes noteWindowTagsAddAppearMobile {
        0% {
            translate: 0 10rem;
            scale: 0.95;
        }
        100% {
            translate: 0 0;
            scale: 1;
        }
    }
}