#noteWindowBg {
    justify-content: end;
    backdrop-filter: blur(4px);
    animation: noteWindowBgAppear 0.25s ease forwards;
}
@keyframes noteWindowBgAppear {
    0% {
        background: #00000000;
        backdrop-filter: blur(0px);
    }
    100% {
        background: #00000080;
        backdrop-filter: blur(4px);
    }
}

#noteWindow {
    margin: .5rem;
    padding: 1rem;
    width: 30rem;
    height: calc(100% - 3rem);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
    background: #303030;
    z-index: 2;
    animation: noteWindowAppear 0.25s ease forwards;
}
@keyframes noteWindowAppear {
    0% {
        scale: 0.9;
        translate: 31.5rem 0;
    }
    100% {
        scale: 1;
        translate: 0 0;
    }
}

#noteWindowHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#noteWindowMain {
    position: relative;
    height: 100%;
}

#noteWindowFooter {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}