#root {
  min-height: 100dvh;
  font-size: 100%;
  position: relative;
}

body {
  margin: 0;
}

@media (max-width: 800px) {
  html {
    font-size: 75%;
  }
}

.fixedElementFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.themedText {
  font-family: system-ui;
  font-weight: normal;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  overflow: hidden;
}
.bold {font-weight: bold;}
.blue {color: #0886ff;}
.white {color: #f0f0f0;}
.black {color: black}



.themedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background: #0886ff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.themedButton > p {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-size: 1em;
  font-weight: bold;
  color: white;
}



.themedTextArea {
  padding: 0.5rem;
  width: calc(100% - 1rem);
  background: none;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
}
.themedTextArea:focus-visible {outline: none;}



.closeButton {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 1rem;
  background: #bb4444;
  cursor: pointer;
}

.transparentInput {
  padding: 0.5rem;
  font-size: 1.5em;
  border: none;
  background: none;
}
.transparentInput:focus-visible {outline: none;}

.themedInput {
  padding: 1rem 2rem;
  border: solid 1px white;
  border-radius: 0.75rem;
  background: #000000aa;
  color: white;
  font-size: 1em;
  width: fit-content;
}

.divider {
  margin: 0.5rem 1rem;
  width: calc(100% - 2rem);
  height: 2px;
  background: #ffffff80;
  border-radius: 1px;
}